body{
    font-family: sans-serif;
    line-height: 140%;
}

header{
    background-color: black;
    padding: 3%;
    text-align: center;
}
    h1{
        color: white;
        font-size: 25pt;
        font-weight: bolder;
        letter-spacing: 1%;
    }


.container, #citySearch, .search, #fiveDay, .weather{
    display: flex;
}

.container{
    width: 90%;
    margin: 0 auto;
    flex-direction: row;
    background-color: grey;
}

#citySearch{
    flex-direction: column;
    padding: 2%;
    background-color: lightgray;
}
    .search{
        flex-direction: row;
        margin-bottom: 2vh;
    }
        #searchFor{
            border-radius: 5px;
            border: none;
            padding: 0 3%;
        }

        #search{
            text-indent: -9999px;
            display: block;
            background-color: rgb(87, 165, 255);
            background-image: url(../images/search.png);
            background-repeat: no-repeat;
            background-size: 25px 25px;
            background-position: center;
            border: none;
            border-radius: 5px;
            width: 45px;
            height: 35px;
            margin: 0 2%;
            padding: 2%;
        }


    #cityList{
        border: 1px solid grey;
        border-radius: 5px;
        background-color: white;
    }
        #cityList li:first-child{
            border-top: none;
        }

        #cityList li{
            border-top: 1px solid grey;
        }

        #cityList a{
            text-decoration: none;
            display: block;
            padding: 4%;
            margin: 1% 0;
            color: black;
        }
    

.weather{
    flex-direction: column;
    width: 100%;
    /* margin: 1vh 2%; */
    padding: 2%;
}

    #current{
        background-color: white;
        border: 1px solid grey;
        border-radius: 5px;
        padding: 3%;
    }

        #current p{
            margin: 1% 0;
        }
        #currentDate{
            color: grey;
        }

        #currentIcon{
            position: relative;
        }
            #currentIcon img{
                max-height: 45px;
                position: absolute;
                top: -10px;
            }

    #fiveHead{
        margin-left: 5%;
        margin-top: 2vh;
    }

    #fiveDay{
        flex-direction: row;
        justify-content: space-evenly;
        padding: 2%;
    }

        #fiveDay div{
            background-color: rgb(87, 165, 255);
            color: white;
            padding: 2%;
            border-radius: 5px;
            font-weight: bold;
            font-size: 10pt;
        }

        #fiveDay div p:first-of-type{
            text-align: center;
            font-size: 16pt;
        }


label, h2{
    font-weight: bold;
    font-size: 18pt;
    margin: 3vh 0;
}

