body{
    font-family: sans-serif;
    line-height: 140%;
}

header{
    background-color: black;
    padding: 3%;
    text-align: center;
}
    h1{
        color: white;
        font-size: 25pt;
        font-weight: bolder;
        letter-spacing: 1%;
    }


.container, #citySearch, .search, #five-day, .weather{
    display: flex;
}

.container{
    width: 90%;
    margin: 1vh auto;
    flex-direction: row;
    background-color: grey;
}

#citySearch{
    flex-direction: column;
    padding: 2%;
    background-color: lightgray;
}
    .search{
        flex-direction: row;
    }
    #citySearch a{
        text-decoration: none;
        display: block;
        padding: 2%;
        margin: 1% 0;
    }

.weather{
    flex-direction: column;
    width: 100%;
}

    #current{
        background-color: white;
        border: 1px solid grey;
        border-radius: 5px;
        padding: 3%;
    }
        #currentIcon{
            position: relative;
        }
            #currentIcon img{
                max-height: 45px;
                position: absolute;
                top: -10px;
            }

    #fiveDay{
        flex-direction: row;
        padding: 3%;
    }

        #fiveDay div{
            float: left;
            background-color: rgb(87, 165, 255);
            margin: 0 2%;
            padding: 2%;
            border-radius: 5px;
        }


label, h2{
    font-weight: bold;
    font-size: 18pt;
    margin: 1vh 0;
}

